/*palette*/
:root {
    --brand-color: #4D5AE5;
    --headers-color: #2E2F42;
    --text-color: #434455;
    --back-color: #fff;
    --light-bg: #F4F4FD;
    --action-color: #404BBF;

    --form: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*general qualities*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--headers-color, grey);
    background-color: var(--back-color, white);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    min-width: 320px;
    max-width: 396px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* 768px <= tablet screen <= infinity */
@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

/* 1200px <= tablet screen <= infinity */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }
}



.section {
    padding: 96px 0;
}

/* 1200px <= tablet screen <= infinity */
@media screen and (min-width: 1200px) {
    .section {
        padding: 120px 0;
    }
}

.about {
    padding-bottom: 0;
}

.list-item:not(:last-child) {
    margin-right: 24px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.section-sub-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-text {
    color: var(--text-color, grey);
    line-height: 1.5;
    letter-spacing: 0.02em;

}


@media screen and (min-width: 768px) {

    .nav-list,
    .address-list,
    .work-list,
    .team-list {
        display: flex;
    }
}



/*Header section*/
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    margin-right: 76px;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headers-color, grey);
}

.logo-part {
    color: var(--brand-color, purple);
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color var(--form);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--action-color, purple);
}

.active {
    position: relative;
    color: var(--action-color);
}

.active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;

    content: '';

    border-radius: 2px;
    background-color: var(--action-color);

}

.contact-item+.contact-item {
    margin-left: 40px;
}

.contact-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--text-color, grey);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: background-color var(--form);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--action-color, purple);
    text-decoration: none;
}


/*Hero section*/
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/page1/people-office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--headers-color, grey);
    padding-bottom: 188px;
    padding-top: 188px;
    width: 1440px;
    height: 600px;
    margin: auto;
}

.hero-title {
    margin: 0 auto 48px;

    font-size: 56px;
    line-height: 1.07;
    color: var(--back-color, white);
    letter-spacing: 0.02em;
    text-align: center;
    width: 498px;

}

.order {
    padding: 16px 32px;
    margin: auto;
    border: none;
    display: block;

    background-color: var(--brand-color, purple);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 169px;
    transition: background-color var(--form), box-shadow var(--form);
}

.order:hover,
.order:focus {
    background-color: var(--action-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.text-order {
    font-weight: 500;
    color: var(--back-color, white);
    text-align: center;
    line-height: 1.5;
}

/*Modal section*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    visibility: visible;
    opacity: 1;
    transition: opacity var(--form), visibility var(--form);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--form);

    min-width: 408px;
    min-height: 576px;

    padding: 72px 24px 24px;

    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.icon-close {

    display: block;
    width: 24px;
    height: 24px;

    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-image: url('../images/page1/close.svg');
    background-size: contain;
    background-origin: border-box;

    cursor: pointer;


    transition: background-color var(--form);
}

.icon-close:hover,
.icon-close:focus {
    background-color: var(--action-color);
    background-image: url('../images/page1/close-active.svg');
    background-size: contain;
    background-origin: border-box;

}



.modal .section-sub-title {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.01em;
}

.form-field {
    position: relative;
    margin-bottom: 8px;

}

.form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 38px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--form);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    /*fill: var(--headers-color);*/
    transition: fill var(--form);
}

.form-input:focus+.form-icon {
    fill: var(--brand-color);
}

.form-input:focus {
    outline: transparent;
    border-color: var(--brand-color);
}

.form-field:focus-within .form-textarea {
    outline: none;
    border: 1px solid var(--brand-color);
    border-radius: 4px;
}

.form-textarea {
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    resize: none;
    width: 100%;
    min-height: 120px;
}

.comment {
    margin-bottom: 16px;
}

.form-checkbox {
    margin-bottom: 24px;
}


.form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-checkbox-text {
    font-size: 12px;
    line-height: 1.33;

    letter-spacing: 0.04em;

    color: #757575;
}

.form-checkbox-label a {
    color: var(--brand-color);
    text-decoration: underline;

}

.checkbox-icon {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.form-checkbox-input:checked+.checkbox-icon {
    border: var(--action-color);
    background-color: var(--action-color);
    background-image: url('../images/click.svg');
    background-size: contain;
    background-origin: border-box;
}

/*Quality section*/
.sub-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headers-color);
    margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
    .sub-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.quality-list .section-text {
    font-weight: 500;
}

@media screen and (min-width: 1200px) {
    .quality-list .section-text {
        font-weight: 400;
    }
}

.quality-list .list-item {
    margin-right: 0;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .quality-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .quality-list .list-item {
        flex-basis: calc((100% - 24px)/2);
    }
}

@media screen and (min-width: 1200px) {
    .quality-list {
        display: flex;
        flex-wrap: nowrap;
    }

    .quality-list .list-item {
        gap: 24px;
        margin-bottom: 0;
    }


}

.quality-icon {
    display: none;
}

@media screen and (min-width: 1200px) {
    .quality-icon {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;

        background-color: var(--light-bg);
        border-radius: 4px;

    }
}




/*What are we doing Section*/
.desktop {
    display: none;
}

@media screen and (min-width: 1200px) {
    .desktop {
        display: block;
    }

    .work-list .list-item {
        border: 1px solid #E7E9FC;
    }
}


/*Our Team Section*/
.team {
    background-color: var(--light-bg);
}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        margin-right: auto;
        margin-left: auto;
        max-width: 553px;
    }
}

.team-list .list-item {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.icon-list .list-item {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .team-list .list-item {
        flex-basis: calc((100% - 24px)/2);
        margin-bottom: 0;
    }

    .icon-list .list-item:not(:last-child) {
        margin-right: 24px;
    }

    .icon-list .list-item {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .team-list {
        display: flex;
        flex-wrap: nowrap;
    }

    .team-list .list-item {
        margin-bottom: 0;
    }

    .list-item:not(:last-child) {
        margin-right: 24px;
    }
}

.team-list .section-text {
    margin-bottom: 8px;
}


.icon-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-list .list-item:not(:last-child) {
    margin-right: 24px;
}


.team-link {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: var(--brand-color);

    transition: background-color var(--form);
}

.team-link:hover,
.team-link:focus {
    background-color: var(--action-color);
}



.content {
    padding: 32px 16px;
    text-align: center;
}

.box {
    width: 264px;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


/* Customers-section*/
.customers-list {
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
    .customers-list {
        column-gap: 16px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .customers-list {
        column-gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .customers-list {
        flex-wrap: nowrap;

    }
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 88px;

    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;

    transition: fill var(--form), border-color var(--form);
}

.customers-link:hover,
.customers-link:focus {
    fill: var(--brand-color);
    border-color: var(--brand-color);
}

.customers-item {
    flex-basis: calc((100% - 16px)/2);
    width: 190px;
}

@media screen and (min-width: 768px) {
    .customers-item {
        flex-basis: calc((100% - 48px)/3);
        width: 168px;
    }
}

@media screen and (min-width: 480px) and (max-width:1199px) {
    .customers-item:not(:last-child) {
        margin-right: 0;
    }
}


.customers-icon {
    fill: #8E8F99;
}

/*Footer-section*/
.footer {
    background-color: var(--headers-color, grey);
    padding-top: 100px;
    padding-bottom: 100px;
}


.bottom {
    color: var(--light-bg);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}

.tagline {
    margin-top: 16px;
    margin-bottom: 0;
    width: 264px;

    color: #E7E9FC;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.case {
    display: flex;
}

.up {
    margin-right: 120px;
}


.socialmedia .section-sub-title {
    color: #fff;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
}

.socialmedia .list-item:not(:last-child) {
    margin-right: 16px;
}

.footer-link {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--form);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}

.follow {
    margin-left: 80px;
}

.follow-text {
    color: #fff;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.follow-case {
    display: flex;
    align-items: center;

}

.follow-input {
    color: #fff;
    width: 264px;
    min-height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.follow .order {

    display: flex;
    width: 165px;
    margin-left: 24px;
    padding: 8px 24px;
}

.follow .text-order {
    margin-right: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}








/*2 стр*/
/*Filter*/
.section-btn {
    margin-bottom: 72px;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 12px 24px;
    color: var(--brand-color, purple);
    background-color: var(--light-bg);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    transition: background-color var(--form), color var(--form), box-shadow var(--form);
}

.btn:hover,
.btn:focus {
    color: #FFFFFF;
    background-color: var(--action-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


/*Portfolio*/
.project-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 24px;
    row-gap: 48px;
}

.project-link {
    display: block;
    transition: box-shadow var(--form);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
    transform: translateY(0);
}

.item {
    border: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.item-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-color);
    transform: translateY(100%);
    transition: transform var(--form);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: var(--light-bg);
}



.item:nth-child(3n) {
    flex-basis: calc((100% - 72px)/3);
}

.project-text-wrap {
    padding: 32px 16px 32px;
}

.project-text-wrap .section-sub-title {
    color: var(--headers-color);
}

.portfolio {
    padding-top: 96px;
}